body{
    margin: 0;
    padding: 0;
}
.top{
    background-color: white;
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left img{
    height: 50px;
    padding-top: 3px;
    padding-left: 2px;
}
.right a{
    text-decoration: none;
    color: #216fdb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-right: 35px;
}
.btn{
    color: #ffffff;
    background-color: #1877f2;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 6px;
    outline: none;
    border:1px solid #1877f2;
    height: 40px;
    width: 76px;
    margin-right: 6px;
}
.top input{
    height: 40px;
    width: 188px;
    border-radius: 6px;
    font-weight: 500;
    font-size: inherit;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: 1px solid #999;
    padding: 8px 12px 10px;
    box-sizing: border-box;
    margin-right: 6px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 436px;
    width: 100%;
    background-color: #e9ebee;
}
.account{
    height: 276px;
    width: 500px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 2px 4px rgb(0 0 0 / 10%);
}
h2{
    margin: 0;
    padding: 18px 16px 18px 18px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #162643
}
.account p{
    margin-left: 18px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 20px;
}
.account input{
    height: 52px;
    width: 91%;
    display: block;
    margin: auto;
    border-radius: 6px;
    border: 1px solid #999;
    outline: none;
}
.account input::placeholder{
    font-size: 16px;
    padding-left: 15px;
}
.x{
    margin-top: 20px;
    border-bottom: 0.01px #999;
}
.y{
    border-bottom: 0.01px #999;
}
.b2{
    color: #ffffff;
    background-color: #1877f2;
    border-radius: 6px;
    outline: none;
    border: 1px solid #1877f2;
    padding: 4px 6px;
    width: 76px;
    height: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-right: 15px;
}
.b1{
    color: #4b4f56;
    background-color: #e4e6eb;
    border-radius: 6px;
    outline: none;
    border: 1px solid #e4e6eb;
    padding: 4px 6px;
    width: 103px;
    height: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-right: 12px;
}
.button{
    display: flex;
    justify-content: flex-end;
}
input[type=email]:focus{
    border: 1px solid #1877f2;
}
input[type=password]:focus{
    border: 1px solid #1877f2;
}